* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
img{
    width: 100%;
}
ul li a{
    padding: 3px;
    color: white;
}
a{
    text-decoration: none;
}
header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 70%;
    margin: 0 auto;
    padding: 1.25rem 0;
}

.bar {
    width: 80%;
}
.d-flex{
    display: flex;
}

.d-flex-centered{
    justify-content: center;
}

.align-items-center{
    align-items: center;
}
.flex-grow{
    flex-grow: 1;
}
.flex-space-between{
    justify-content: space-between;
}
.logo {

}


.menu {
    width: max-content;
}

.menu ul {
    display: flex;
    gap: 1rem;
    list-style-type: none;
    justify-content: center;
}

.login{
    text-align: end;
}

.border-black{
    border: 1px dashed black
}
.border-white{
    border: 1px dashed white
}
.border-white-solid{
    border-width: 1px 0px 1px 0px;
    border-color: white;
    border-style: solid;
}

.txt-white{
    color: white;
}
.txt-black{
    color: black;
}
.bg-white{
    background-color: white;
}

.tag{
    padding: 0.3rem 1rem;
    border-radius: 20px;
}
.bg-orange{
    background-color: orange;}
.bg-blue{
    background-color: #3160e0;}
.bg-magent{
    background-color: magenta;}
.bg-pink{
    background-color: pink;}
.bg-gray{
    background-color: gray;}
.bg-sky{
    background-color: skyblue;}
.bg-green{
    background-color: green;}
.bg-black{
    background-color: black;}
.bg-peach{
    background-color: peachpuff;}
.bg-turchese{
    background-color: turquoise;}

.hg-50{
    height: 50px;}

.hg-300{
    height: 300px;}

.pad-top-1{
    padding-top: 1rem;
}
.pad-top-2{
    padding-top: 2rem;
}
.pad-top-3{
    padding-top: 3rem;
}
.pad-bottom-1{
    padding-bottom: 1rem;
}
.pad-bottom-2{
    padding-bottom: 2rem;
}
.pad-bottom-3{
    padding-bottom: 3rem;
}

.pad-1{
    padding: 1rem;
}
.jumbotron{
    background-image: url("../img/jumbo.png");
    background-size: cover;
}

.poster5050{
    width: 50%;
}

.txt-center{
    text-align: center;
}


.poster70{
    width: 70%;
}

.poster30{
    width: 30%;
}

.low-button-jumbotron{
    flex-shrink: 1;
    flex-wrap: wrap;
}
.ly-reverse-row-2-column{
    flex-direction: row-reverse;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.25rem;
}

.ly-big-poster{
    flex-direction: row-reverse;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.25rem;
}

.poster-big{
    height: 500px;
    width: 100%;
}

.ly-5-column{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 1rem 1rem 1rem;
}

.column-1-5{
    width: 40%;
}
.column-2-5{
    width: 15%;
}
.column-3-5{
    width: 15%;
}
.column-4-5{
    width: 15%;
}
.column-5-5{
    width: 15%;
}


footer{
    display: flex;
    justify-content: center;
    align-items: end;
    padding: 1rem 1rem 0rem 1rem;
}

.foot-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.logo-foot{
    padding: 0.3rem;
}

.btn{
    padding: 0.3rem;
}


.pad-20{
    padding: 0 15%;}